<div class="container">
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">

            <li>
                <a href="#" class="nav-link text-secondary">
                    <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                        <use xlink:href="#home" />
                    </svg>
                </a>
            </li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Вверх</a></li>
            <li class="nav-item"><a href="advantages" class="nav-link px-2 text-body-secondary">Преимущества</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Цены</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Вопросы</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">О Нас</a></li>
        </ul>
        <p class="text-center text-body-secondary">&copy; 2025 Гринвич, ООО</p>
    </footer>
</div>