@inherits LayoutComponentBase

<div class="page">
    <main>

        <ClearHeader />

        <article class="content px-4">
            @Body
        </article>

        <ClearFooter />

        <ClearTheme />

    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    Произошла необработанная ошибка.
    <a href="." class="reload">Перезагрузить</a>
    <span class="dismiss">🗙</span>
</div>
